<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Niconne&display=swap"
	rel="stylesheet">
<!-- CSS -->
<link href="/css/reset.css" rel="styleSheet">
<link href="/css/layout.css" rel="styleSheet">
<link href="/css/button.css" rel="styleSheet">
<link href="/css/box.css" rel="styleSheet">
<link href="/css/style.css" rel="styleSheet">
<link href="/css/util.css" rel="styleSheet">
<link href="/css/icon.css" rel="stylesheet" />
<link href="/css/component-mobile.css" rel="styleSheet">
<title>index</title>
</head>
<div class="container-1-nmg">
<div style="grid-column: 3/4;
    grid-row:1/2;">
	<a href="./user/login"><img src="/img/closeBtn.svg"></a>
	</div>
	<main class="main lc-center">
		<div class=" lc-vertical-alignment  box-sizing">
			<div class="box-sizing">
				<p class="font-size48 main-logo">DailyNovel</p>
			</div>
			<div class="lc-vertical-alignment box-sizing main-logo">
				<p class="font-size30 ">is</p>

				<p class="font-size48 index-text-fade d-none ">simple.</p>
				<p class="font-size48 index-text-fade d-none">convinces.</p>
				<p class="font-size48 index-text-fade d-none">share.</p>
				<p class="font-size48 index-text-fade d-none">record.</p>
				<p class="font-size48   index-text-fade d-none">Love!</p>
			</div>
		</div>
	</main>
</div>

<div class="container-1-nmg">
	<div class="main opacity-0 index-div" style="background-color: black;">

	</div>
</div>

<div class="container-1-nmg  ">
	<div class="main opacity-0 index-div" style="background-color: red;">

	</div>
</div>

<div class="container-1-nmg  ">
	<div class="main opacity-0 index-div" style="background-color: blue;">
	</div>
</div>

<script src="/js/index.js"></script>
</body>
</html>