<!DOCTYPE html>
<html lang="en"
		xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 본래 CSS 경로들 -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/util.css">
<link rel="stylesheet" href="/css/style.css">
<!-- <script src="../../../res/js/" type="text/javascript"></script> -->

<!-- <script src="/js/member/diary/detail.js" defer="defer"></script> -->
<!-- <script src="/js/register.js"></script> -->
<script src="/js/modal2.js"></script>
<!-- DailyNovel/src/main/resources/static/js/member/diary/detail.js -->

  <title>일기 보기</title>
</head>
<body>

  <div class="container-2" >
    <div class="header reg-header">
      <div class="lc-center">
        <div id="edit-Del" class="icon detail-menu">?</div>
      </div>
      <div class="lc-center">
        <div class="box-short " th:text="${#dates.format(diary.regDate, 'yyyy년 MM월 dd일')}" >2023년 01월 27일</div>
      </div>
      <div class="lc-center">
        <a th:href="@{/member/main}">
        <div id="reg-cancel-btn" class="icon close-btn"></div>
        </a>
      </div>      
    </div>

    <div class="main reg-main mgt-2">
      <div class="flex-jty-spacebtw pdl-3 pdr-3">
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">HOW</div>
          <div class="value font-size22 lc-center" th:text="${diary.templateName}">자유</div>
        </div>
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">기분</div>
          <!-- <div class="value touched-img" th:switch="${diary.feelingName}" th:style="'background-image:url('+ @{/image/feeling/{img}(img=${diary.feelingImg})} +');'"> -->
          <div class="value touched-img" th:switch="${diary.feelingName}" th:classappend="${DiarySetToCss[0]}">
            <!-- <span class="value" th:case="화남" 
              >
            </span>
              햇님 -->
          </div>
        </div>
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">날씨</div>
            <div class="value" th:classappend="${DiarySetToCss[1]}">
              <!-- 비내림 -->
            </div>
        </div>
      </div>

      <div class="mgt-3">
        <div class="reg-title-section">
          <div class="lc-center font-bold">제목</div>
          <div class="font-set editor-title pdl-3 pdr-3 flex-aln-center" 
              th:classappend="${font}"
              th:text="${diary.title}"></div>

              <!-- th:classappend ="'${font}', 'detail-font-size${fontsize}'" -->

        </div>
        
            <textarea readonly id="content-editor" 
                  class="font-set2 detail editor-base-detail mgt-2 pdt-4 pdl-4 pdr-4 " 
                  th:classappend="|${font}  detail-font-size${fontsize}|"
                  th:text="${diary.content}">나마자기 구조개와 함께 하와이에 가고싶다.</textarea>
        </div>
    
    </div>

    <!-- <div class="footer lc-center">
      <div class="btn3 color-bg-green-2"><a href="./modify">수정하기</a></div>
    </div>  -->

  </div>

  <div id="diary-edit-modal" class="reg-select-modal">    
    <ul>
      <li class="btn3 " id="modal-delete-btn">삭제하기</li>
      <li class="btn3 detail-modal-magin"><a th:href="@{/member/modify}">수정하기</a></li>
    </ul> 
    <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white">모달 종료 버튼</div>
  </div>

  <div id="delete-check-modal" class="reg-select-modal">    
    <ul class="detail-modal-check">
      <li class="btn4 delete-yes-btn" id="delete-yes-btn"><a th:href="@{/member/modify}">네 삭제할게요</a></li>
      <li class="btn4 " id="delete-no-btn">아니요</li>
    </ul> 
    <!-- <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white d-none">모달 종료 버튼</div> -->
  </div>


</body>
</html>