<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>


<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">

</head>
<body>

	<div class="container-1">
		<header class="header lc-center">
			<div class="box-large font-weight-bolder h2 mgt-4">모아보기</div>
			
		</header>
		
		<main class="main list-main-flex-col">
			<div class="option-container lists-filter pdt-4">
			 <!-- 정렬을 위로 빼기 -->
					<div class="option-box mgl-2">
						<div class="title lc-center border-r-2">템플릿</div>
						<div class="select border-r-2 hidden no-scroll">
							<div class="option lc-center">기본</div>
							<div class="option lc-center">여행</div>
							<div class="option lc-center">영화</div>
							<div class="option lc-center h5">선택안함</div>
						</div>
					</div>
					
					<div class="option-box mgl-2">
						<div class="title lc-center border-r-2">기분</div>
						<div class="select border-r-2 hidden">
							<div class="option lc-center">화남</div>
							<div class="option lc-center">불편</div>
							<div class="option lc-center">평온</div>
							<div class="option lc-center">실망</div>
							<div class="option lc-center">불안</div>
							<div class="option lc-center">행복</div>
							<div class="option lc-center">슬픔</div>
							<div class="option lc-center">감동</div>
							<div class="option lc-center">신남</div>
							<div class="option lc-center h5">선택안함</div>
						</div>
					</div>

					<div class="option-box mgl-2">
						<div class="title lc-center border-r-2">정렬방법</div>
						<div class="select border-r-2 hidden no-scroll">
							<div class="option lc-center">최신순</div>
							<div class="option lc-center">과거순</div>
							<div class="option lc-center">인기순</div>
							<div class="option lc-center h5">선택안함</div>
						</div>
					</div>
					
					
					<div class="b lc-center args border-r-2 mgl-2 color-bg-green-2" id="openBtn">날짜</div>
			</div>

			<ul class="lists">
				<li class="list-box" th:each="diary : ${list}">
					<div class="list-date lc-center h2 font-weight-bolder mgt-2" th:text="${diary.regDate}">2022-22-22</div>
					<div class="list-title mgt-3" th:text="${diary.title}">오늘은 힘든 하루</div>
					<!-- <div class="title"><span class="ib diary">노는게 젤 좋아 친구들 모여라</span><span class="ib date">2022-22-22</span></div> -->
					<div class="content mgt-2" th:text=${diary.content}>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea eum labore eos a deleniti tenetur, libero minima hic at, vel necessitatibus nemo, suscipit rerum vitae expedita porro obcaecati quibusdam repellat.</div>
				</li>
			</ul>

		</main>

		
		<footer class="footer" style="position: sticky; bottom:0">
            <div class="container-nav color-white-1">
                
                <div class="nav-1 lc-center">
                    <a href="../member/diary/list.html" class="lc-vertical-alignment">
                    <div class="nav-icon bookmark-btn"></div>
                    <div class="h6 mgt-2">모아보기</div>
                </a>
                </div>
                
                <div class="nav-2 lc-center">
                    <a href="../index.html" class="lc-vertical-alignment">
                        <div class=" nav-icon speech-bubble-btn"></div>
                        <div class="h6 mgt-2">커뮤니티</div>
                    </a>
                </div>

                <div class="nav-main lc-center">
                    <a href="../member/main.html" class="lc-vertical-alignment">
                        <div class="nav-icon book-btn"></div>
                        <div class="h6 mgt-2">메인화면</div>
                    </a>
                </div>
    
                <div class="nav-4 lc-center">
                    <a href="../member/diary/analysis/main.html" class="lc-vertical-alignment" >
                    <div class="nav-icon  hourglass-btn"></div>
                    <div class="h6 mgt-2">돌아보기</div>
                </a>
                </div>
                <div class="nav-5 lc-center">

                    <a href="./settings/main.html" class="lc-vertical-alignment">

                    <div class="nav-icon gear-btn"></div>
                    <div class="h6 mgt-2">설정하기</div>
                </a>
                </div>
            </div>
        </footer>
	</div>

		<!-- 모달창 -->
	<div class="list-modal hidden" onclick="console.log('이거 클릭됨')"> 
		<div class="bg"></div>
		<div class="modalBox">
			<div class="calender">
				<div class="header" id="calendar-header">
				  <div class="prev-month" id="prev-btn">&#60;</div>
				  <div class="h3 lc-center" id="date-config"></div>
				  <div class="next-month" id="next-btn">&#62;</div>
				</div>
	  
				<div class="main">
				  <ul class="day mgt-3">
					<li>SUN</li>
					<li>MON</li>
					<li>TUE</li>
					<li>WED</li>
					<li>THU</li>
					<li>FIR</li>
					<li>SAT</li>
				  </ul>
	  
				  <ul class="date" id="calendar-date"></ul>
				</div>
			  </div>
		</div>
	</div>

	<!-- //템플릿 모달
	<div class="list-modal hidden">
		<div class="bg"></div>
		<div class="modalBox">

		</div>
	</div> -->



	<script  src="/js/member/diary/list.js"></script>
	<script src="/js/calendar.js"></script>
</body>
</html>