<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">

<!-- <script src="../../../res/js/" type="text/javascript"></script> -->
<script src="/js/modalModify.js"></script>
<script src="/js/modify.js"></script>
<title>일기 수정</title>
</head>


<body>
  
  <div class="container-2" >
    <div class="header reg-header">
      <div class="lc-center">
        <div class="icon question-mark">?</div>
      </div>
      <div class="lc-center">
        <div class="box-short"
          th:text="${#dates.format(diary.regDate, 'yyyy년 MM월 dd일')}" >
          <span id="date">2023년 01월 27일</span>
        </div>
      </div>
      <div class="lc-center">
        <div id="reg-cancel-btn" class="icon close-btn"></div>
        </a>
      </div>       
    </div>

    <div class="main reg-main mgt-2">
      <div class="flex-jty-spacebtw pdl-3 pdr-3">
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">HOW</div>
          <div id="tmp-value" class="value">
            <!-- <span class="reg-tmp-txt">자유</span> -->
            <div class="value font-size22 lc-center" th:text="${diary.templateName}">자유</div>
          </div>
        </div>
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">기분</div>
          <div id="feel-value" class="value" th:classappend="${DiarySetToCss[0]}">
            <!-- <div class="feel-circle-box happy-img"></div> -->
            <div class="value" >
              <!-- 비내림 -->
            </div>
          </div>
        </div>
        <div class="l-box-mini">
          <div class="name lc-center color-white-1">날씨</div>
          <div id="weather-value" class="value"
            th:classappend="${DiarySetToCss[1]}"></div>
        </div>
      </div>

      <div class="mgt-3">
        <div class="reg-title-section">
          <div class="lc-center font-bold">제목</div>
          <input type="text" class="editor-title pdl-3 pdr-3" 
              th:classappend="${font}"
              th:value="${diary.title}">
        </div>
        <textarea id="content-editor" 
                  class="font-set2 detail editor-base mgt-2 pdt-4 pdl-4 pdr-4 " 
                  th:classappend="|${font}  detail-font-size${fontsize}|"
                  th:text="${diary.content}">나마자기 구조개와 함께 하와이에 가고싶다.</textarea>
      </div>
    
    </div> 

    <div class="footer lc-center pdb-2">
      <div id="submit-test" class="btn3 color-bg-green-2"><a th:href="@{/member/main}">수정하기</a></div>
      <!-- <div id="submit-test" class="btn3 color-bg-green-2">수정하기</a></div> -->
    </div>
  </div>
  
  <div id="reg-tmp-modal"  class="reg-select-modal">
    <div class="tmp-section">
        <ul class="tmps" style="margin-bottom: 1rem;">

              <li class="btn1" value="free-form">자유롭게</li>

              <li>
                <div id="simple-tmp" class="btn1">간편일기</div>      
                <ul class="tmp-select-box mgt-1" >
                  <li class="simple-tmp-box" value="thanks-form">감사일기</li>
                  <li class="simple-tmp-box" value="meat-form">밥블로그</li>
                  <li class="simple-tmp-box" value="question-form">질문일기</li>
                </ul>        
              </li>
      
              <li class="btn1" value="movie-form">영화</li>
              <li class="btn1" value="trip-form">여행</li>
              <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white">모달 종료 버튼</li>
        </ul>
    </div>
  </div>

  <div id="reg-feel-modal" class="reg-select-modal">
    <div class="feel-section">      
      <div>일기를 쓰실 때의 기분은 어떠신가요?</div>
      <ul class="reg-feel-select-box">
        <li class="feel-circle-box happy-img" value="happy">행복</li>
        <li class="feel-circle-box excited-img" value="excited">신남</li>
        <li class="feel-circle-box touched-img" value="touched">감동</li>
        <li class="feel-circle-box angry-img" value="angry">화남</li>
        <li class="feel-circle-box awkward-img" value="awkward">불편</li>
        <li class="feel-circle-box disappointed-img" value="disappointed">실망</li>
        <li class="feel-circle-box anxiety-img" value="anxiety">불안</li>
        <li class="feel-circle-box calm-img" value="calm">평온</li>
        <li class="feel-circle-box sad-img" value="sad">슬픔</li>
        <li class="lc-center mgt-3" style="grid-column: 2/3;">
          <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white">모달 종료 버튼</div>
        </li>
      </ul>
    </div>
  </div>

  <div id="reg-weather-modal" class="reg-select-modal">
    <div class="weather-section">
      <ul class="reg-weather-select-box">
        <li class="weather-box" value="sunny">맑음</li>
        <li class="weather-box" value="cloudy">흐림</li>
        <li class="weather-box" value="snow">눈</li>
        <li class="weather-box" value="rain">비</li>
        <li class="weather-box" value="dust">먼지/황사</li>
      </ul>
      <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white">모달 종료 버튼</div>
    </div>
  </div>

  <div id="reg-honesty-modal" class="reg-select-modal">
    <div class="reg-honesty-section">
      <p style="text-align: center;">이번 일기를 생각할 때 <br>얼마나 진실되었다고 생각하시나요?</p>
      <div class="reg-range-value"></div>
		<span id="range-text-test"></span>      
        <input class="reg-honesty-test" type="range" min="0" max="100" step="10" value="100">
        
      <div id="submit-test" class="btn3"><a th:href="@{/member/main}">바로 저장하기</a></div>
      <div id="modal-close-btn" class="circle-box-modal color-bg-green-2 close-btn-white">모달 종료 버튼</div>
    </div>
  </div>

  <div id="reg-cancel-modal" class="reg-select-modal">    
    <div class="reg-cancel-section ">
      <span style="text-align: center;">지금 나가시면<br>지금까지 작성하신 내용은 사라집니다.<br>괜찮으신가요?</span>
      <ul>
        <li class="btn3"><a th:href="@{/member/main}">네</a></li>
        <li id="modal-close-btn" class="btn3">아니요, 돌아갈래요.</li>
      </ul>    
    </div>
  </div>
</body>


<script>
  const range = document.querySelector(".reg-honesty-test");
  const value = document.querySelector(".reg-range-value");
  const rangeText = document.querySelector("#range-text-test");
  rangeText.innerText = range.value;
  range.addEventListener("input",()=>{
    value.text = range.value;    
    rangeText.innerText = range.value;
  })

</script>
</html>