<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/icon.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">

<script src=""></script>
<title>어떻게 일기를 작성해볼까?</title>
</head>
<body>
	<div class="container-1">
		<div class="header"
			style="display: flex; justify-content: end; align-items: center;">
			<a href="../../member/main.html" class=" pdr-4"><div
					class="icon close-btn"></div></a>
		</div>
		<div class="main tmp-main">
			<div class="lc-center">
				<p class="text-center h1 font-bold">
					어떻게 일기를<br>남기고 싶으신가요?
				</p>
			</div>
			<div class="tmp-section">
				<a href=""><div class="btn1">자유롭게</div></a>
				<div id="simple-tmp" class="tmp-btn1">간편일기</div>
				<div class="tmp-select-box d-none">
					<div class="box-short color-bg-yellow-1">감사일기</div>
					<div class="box-short color-bg-yellow-1">밥블로그</div>
					<div class="box-short color-bg-yellow-1">질문일기</div>
				</div>
				<div class="btn1">영화</div>
				<div class="btn1">여행</div>
			</div>
		</div>
		<div class="footer lc-center">
			<div class="lc-center">선택 시 작성화면으로 넘어갑니다.</div>
		</div>

	</div>
	<script>
    const box = document.querySelector(".tmp-select-box");
    box.addEventListener('click', ()=>{box.classList.toggle("active");}    
    )

    const simpleTmp = document.querySelector("#simple-tmp");
    simpleTmp.addEventListener('click', ()=>{
      box.classList.toggle("d-none");
      simpleTmp.classList.toggle("color-bg-green-2");
    })

  </script>
</body>
</html>