<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailynovel.web.repository.FeelingRepository">
	<!-- 아래의 리졀트맵의 id값을 활용해서 select문의 resultMap에 넣어주면 된다. -->
	
	
	<select id="findViewAll" resultType="FeelingCountView">
		SELECT feeling.name, feeling.img, count(Diary.feeling_id) as frequency 
		FROM feeling 
		INNER JOIN Diary ON feeling.id = Diary.feeling_id 
		GROUP BY feeling.name
		ORDER BY frequency DESC
	</select>
	
	<select id="findTopRankView" resultType="FeelingTopRankView">
		SELECT feeling.bigimg, COUNT(Diary.feeling_id) as frequency, description 
		FROM feeling 
		INNER JOIN Diary ON feeling.id = Diary.feeling_id 
		GROUP BY feeling.name 
		ORDER BY frequency DESC 
		LIMIT 1
	</select>
	
	<select id="findRankView" resultType="FeelingRankView">
		SELECT feeling.img, COUNT(Diary.feeling_id) as frequency, description 
		FROM feeling 
		INNER JOIN Diary ON feeling.id = Diary.feeling_id 
		GROUP BY feeling.name 
		ORDER BY frequency DESC 
		LIMIT 1,4
	</select>
	


</mapper>