<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailynovel.web.repository.AnalysisRepository">
	<!-- 아래의 리졀트맵의 id값을 활용해서 select문의 resultMap에 넣어주면 된다. -->
	
	
	<select id="findCount" resultType="Feeling">
		SELECT f.name, f.img, count(d.feeling_id) as frequency
		FROM feeling f
		LEFT JOIN diary d ON f.id = d.feeling_id AND d.member_id = 1
		group by f.name
		ORDER BY frequency DESC;
	</select>

	
	<select id="findFeelingTopRank" resultType="Feeling">
		SELECT name, img, frequency, description
		FROM feeling_view
		where member_id = 1
		group by name
		ORDER BY frequency DESC
	</select>
	
	<select id="findFeelingRank" resultType="Feeling">
		SELECT img, name, frequency, DENSE_RANK() OVER (ORDER BY frequency DESC) as ranking
		FROM feeling_view
		where member_id = 1
		GROUP BY id
		ORDER BY frequency DESC
		LIMIT 1,4;
	</select>
	
	<select id="findValue" resultType="Feeling">
		SELECT name, frequency
		FROM feeling_view
		where member_id = 1
		GROUP BY name
		ORDER BY frequency DESC;
	</select>
	
	<select id="findHonesty" resultType="Diary">
		SELECT
		  CASE
		    WHEN honesty_id BETWEEN 0 AND 0.2 THEN 0.2
		    WHEN honesty_id BETWEEN 0.2 AND 0.4 THEN 0.4
		    WHEN honesty_id BETWEEN 0.4 AND 0.6 THEN 0.6
		    WHEN honesty_id BETWEEN 0.6 AND 0.8 THEN 0.8
		    WHEN honesty_id BETWEEN 0.8 AND 1 THEN 1
		  END AS honesty,
		  COUNT(*) AS count
		FROM diary
		WHERE member_id = 1 AND honesty_id IS NOT NULL
		GROUP BY honesty
		ORDER BY honesty DESC;
	</select>
	
	
	


</mapper>