<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailynovel.web.repository.MemberRepository">

	<select id="getFindId" parameterType="String" resultType="int">
		select count(email) email from member where email =#{email};
	</select>
		<select id="getFindPwd" parameterType="String" resultType="int">
		select count(password) password from member where password =#{password} and  email =#{email};
	</select>
	

	<select id="FindSameNickname" parameterType="String" resultType="int">
		select count(nickname) samenickname from member where nickname =#{nickname};
	</select>
				
	<select id="getFindEmail" parameterType="String" resultType="String"> 
		select email from member where nickname =#{nickname};
	</select>


	<insert id="insert">
		Insert into dailynoveldb.member(email, password, nickname)
		values (#{id},#{pwd}, #{nickname});
	</insert>
	
	<update id="updatePassword" parameterType="String">
		update member set password = "#{password}" where email = #{email}; 
	
	</update>
	

	

</mapper>