<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dailynovel.web.repository.MemberRepository">

	<select id="FindSameNickname" parameterType="String" resultType="int">
		select count(nickname) samenickname from member where nickname =#{nickname};
	</select>
</mapper>