<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
    <!-- style -->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/box.css">
    <link rel="stylesheet" href="/css/component-mobile.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/util.css">

<title>404 페이지</title>
</head>
<body>
	<div class="container-1">
<header class="header lc-center mgt-5">
			<p style="font-family: Niconne; font-size: 5rem;">DailyNovel</p>
		</header>
		<main class="main lc-vertical-alignment mgt-5">
		<div  class="mgt-5"><img src="/img/404error.png" alt="404" style="width: 300px"></div>
			<div  class="mgt-5">현재 요청하신 페이지는 없는 페이지입니다.</div>
			<div  class="mgt-5"><button><a href="/member/main">메인 페이지로 돌아가기</a></button>
			
			  <input id="submit-Btn" class="btn2 input-btn color-bg-green-2 color-white-2 shadow-2 mgt-5" type="button" value="가입하기">
			</div>
			
		</main>
	

	</div>
</body>
</html>