/* 컨테이너버전만 갈아 끼면 전체적인 틀은 잡힐 수 있도록 */

/* 가장 큰 틀 */
/* ------------------------------------ 첫 번째 레이아웃 */
html{
    font-size: 16px;
  }
  
  body{
    margin: 0;
  }
  
  .container-1{
    /* width: 25.75rem;
    height: 57.25rem;
  
    display: grid;
    grid-template-rows: 6rem 45.25rem 6rem; 
    grid-template-columns: 1rem auto 1rem; */
  
    /* 일단 뷰포트단위 써보고 아니면 위처럼 단위 해볼게요. */
    width: 100vw;
    height: 100vh;
      
    display: grid;
    grid-template-rows: 1fr 7.5fr 1fr; 
    grid-template-columns: 1fr 23.75fr 1fr;
  }
  
  .container-1 > .header{

    grid-column: 2/3;
    grid-row:1/2;
  }
  
  .container-1 > .main{
    grid-column: 2/3;
    grid-row:2/3;
  }
  
  .container-1 > .footer{    

    grid-column: 2/3;
    grid-row:3/4;
  }
  
  /* ------------------------------------ 두 번째 레이아웃 */
  /* 작성(register) 창에서 시작됨. */
  .container-2{
    /* width: 25.75rem;
    height: 57.25rem;
  
    display: grid;
    grid-template-rows: 6rem 45.25rem 6rem; 
    grid-template-columns: 1rem auto 1rem; */
  
    /* 일단 뷰포트단위 써보고 아니면 위처럼 단위 해볼게요. */
    width: 100vw;
    height: 100vh;
    
    /* background-color: black;
    opacity: 0.5; */

    display: grid;
    /* grid-template-rows: 3.75rem 47.5rem 6rem; */
    /* grid-template-rows: 0.625fr 7.91fr 1fr; */
    grid-template-rows: 1fr 10.4fr 1.3fr;
    grid-template-columns: 1fr 23.75fr 1fr;
  }
  
  .container-2 > .header{
    /* position: sticky; 
    background-color: brown; */
    grid-column: 2/3;
    grid-row:1/2;
  }
  
  .container-2 > .main{
    grid-column: 2/3;
    grid-row:2/3;
  }
  
  .container-2 > .footer{
    /* position: sticky;
    background-color: brown; */
    /* bottom: 0px; */
    grid-column: 2/3;
    grid-row:3/4;
  }

  /*만든이: 이동형 사유:네비게이션 바 레이아웃 */
.container-nav{
  display: grid;
  width: 100%;
  height: 100%;

  grid-template-columns: 4rem 4rem 4rem 4rem 4rem;


  column-gap: 0.5rem;
  grid-template-areas: "nav-1 nav-2  nav-main  nav-3 nav-4";
  justify-content: space-around;
  box-sizing: border-box;
}
.container-nav>.nav-1{

  grid-column: 1/2;

}

.container-nav>.nav-2{

  grid-column: 2/3;

}

.container-nav>.nav-main{

  grid-column: 3/4;

}

.container-nav>.nav-4{

  grid-column: 4/5;

}

.container-nav>.nav-5{

  grid-column: 5/6;

}


  
  
  /* 각 페이지 별로 만들고 싶을 때 */
  /* 로그인, 메인 팀 */

  
  /* 일기 작성, 목록 팀 */

  /* register */
  .reg-header{
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.5fr;
  }

  .reg-main{
    display: grid;
    grid-template-rows: 1fr 7fr;

    box-sizing: border-box;

    overflow: hidden;
  }
  
  .guide-main{
    display: grid;    
    grid-template-rows: 1fr 1fr 5.54fr;    
  }

  .tmp-main{
    display: grid;
    grid-template-rows: 1fr 3.5fr;
  }
  
  /* 일기 통계, 설정 팀 */

  /* 주형 부분 추후 수정 ------ */
    .C-joo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .ana-main-layout-joo{
    padding: 3rem 1.5rem 3rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

  }
