<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Niconne&display=swap"
	rel="stylesheet">
<!-- style -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">
<title>계정찾기</title>
</head>
<body>
	<div class="container-1">
		<header class="header">
			<div class="main-logo mgt-5">
				<p>DailyNovel</p>
			</div>
		</header>
		<main class="main">
			<form class="lc-vertical-alignment" action="history.go(0)"
				method="get">
  						<div class="outBox box-large mgt-5 certify-form ">
                            <div class="inputBox">
                                <input id="email" class="sample-id" type="text" name="id"/>
                                <label for="email">닉네임</label>
                            	<button type="button" class="link lc-center" id="email-check-btn" >인증번호 전송</button>
                            </div>  
                        </div>
                        <div class="certify-form mgt-3">
                            <div class="user-data"><input class="input" type="number" placeholder="인증번호" id ="email-check"></div>
                        </div>
			</form>
			<div class="lc-vertical-alignment mgt-5" id="emailShow">닉네임과 관련된 이메일은
			<div class="lc-vertical-alignment mgt-2" id="nickanme">xxxxxxxx</div>
			<div class="lc-vertical-alignment mgt-2">입니다.</div>
			</div>
			<a class="lc-vertical-alignment mgt-6" href="./password">혹시 비밀번호도 바꿔야 하나요?</a>
		</main>
	</div>
</body>
	<script type="text/javascript" src="/js/accountRecoveryEmail.js" defer="defer"></script>
</html>