<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Niconne&display=swap"
	rel="stylesheet">
<!-- style -->
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/layout.css">
<link rel="stylesheet" href="/css/button.css">
<link rel="stylesheet" href="/css/box.css">
<link rel="stylesheet" href="/css/component-mobile.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/util.css">
<title>비밀번호찾기</title>
</head>
<body>
	<div class="container-1">
		<header class="header">
			<div class="main-logo mgt-5">
				<p>DailyNovel</p>
			</div>
		</header>
		<main class="main">
			<form class="lc-vertical-alignment form-signup" action="" method="post" id="sign-up-form">
				<div class="outBox box-large mgt-5">
					<div class="inputBox">
						<input id="pwd" class="sample-id" type="password" name="pwd" /> <label
							for="pwd">비밀번호</label>
						<p class="h6">형식:8~25특수문자{!@#$%^&*}포함</p>
					</div>
				</div>

				<div class="outBox box-large mgt-5">
					<div class="inputBox">
						<input id="pwd-check" class="sample-id" type="password" /> <label
							for="id-check">비밀번호 확인</label>
					</div>
				</div>
				<input id="update-password" type="submit"
					class="box-large  mgt-5 input-boder-none color-bg-green-2 color-white-2 "
					value="비밀번호 변경" />
			</form>
		</main>
	</div>
	        <script src="/js/valCheckSignup.js" defer="defer"></script>
</body>
</html>